elpa/*
ido.last
smex-items
history
recentf
recentf~
.mc-lists.el
configuration.el
projectile*
ac-comphist.dat
.emacs.desktop
.emacs.desktop.lock
shell_template.bat
startup.bat
shell.bat
request/
diary
server/**
.python-environments/
url/
.org*
bookmarks
custom.el
transient
custom.el
