[submodule "python/jedi"]
	path = python/jedi
	url = https://github.com/davidhalter/jedi.git
        ignore = dirty
[submodule "python/parso"]
	path = python/parso
	url = https://github.com/davidhalter/parso.git
        ignore = dirty
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/Jawabiscuit/yasnippet-snippets.git
        ignore = dirty
