[submodule "site-lisp/emacs-ipython-notebook"]
	path = site-lisp/emacs-ipython-notebook
	url = https://github.com/millejoh/emacs-ipython-notebook.git
        ignore = dirty
[submodule "themes/monokai-emacs"]
	path = themes/monokai-emacs
	url = https://github.com/oneKelvinSmith/monokai-emacs.git
        ignore = dirty
[submodule "site-lisp/outline-magic"]
	path = site-lisp/outline-magic
	url = https://github.com/tj64/outline-magic.git
        ignore = dirty
[submodule "site-lisp/dired-details"]
	path = site-lisp/dired-details
	url = https://github.com/emacsmirror/dired-details.git
        ignore = dirty
[submodule "site-lisp/dired-details-plus"]
	path = site-lisp/dired-details-plus
	url = https://github.com/emacsmirror/dired-details-plus.git
        ignore = dirty
[submodule "site-lisp/yasnippet-snippets"]
	path = site-lisp/yasnippet-snippets
	url = https://github.com/AndreaCrotti/yasnippet-snippets.git
        ignore = dirty
[submodule "python/jedi"]
	path = python/jedi
	url = https://github.com/davidhalter/jedi.git
        ignore = dirty
[submodule "python/parso"]
	path = python/parso
	url = https://github.com/davidhalter/parso.git
        ignore = dirty
